<!--<header th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}">
            Products Saves Trees
          </a>
        </div>
      </nav>
</header> -->

<header th:fragment="header" class="p-3 mb-3 border-bottom bg-dark text-white">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-6 justify-content-center">
        <a th:href="@{/}" class="d-flex navbar-brand  align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          Products Saves Trees
        </a>
      </div>

      <div class="col-md-3 justify-content-center align-items-center navbar-brand m-0">
        <div class="dropdown d-flex">
         <!-- <p class="navbar-brand m-0" th:text=" 'Hola ' + ${session.usuariosession.nombres} + ' ' + ${session.usuariosession.apellido}"></p>
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
           
            <img th:if="${session.usuariosession.foto != null}" th:src="@{/foto/cliente} + '?id=' + ${session.usuariosession.documento}" alt="mdo" width="50" height="50" style="margin-left: 1rem;" class="rounded-circle">
            -->
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Configuraciones</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Cerrar sesion - Sign out</a></li>
          </ul>
        </div>

        
      </div>

      <div class="col-md-2 navbar-brand justify-content-end d-flex">
         <button href="/logout" type="button" class="btn btn-primary" >Cerrar sesión</button>
      </div>


    </div>




  </div>
</header>