<!--<header th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}">
            Products Saves Trees
          </a>
        </div>
      </nav>
</header> -->

<header th:fragment="header"  class="text-white">
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${success}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <span th:text="${success}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>



    <nav class="navbar navbar-light" style="background-color: #20c997;">
        <div class="container">
            <a th:href="@{/}" class="d-flex navbar-brand align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <h2>Saves Trees</h2>
            </a>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:if="*{foto != null}" class="img-fluid rounded-start"
                         th:src="@{/foto/cliente}+'?id='+*{documento}">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>



</header>