/*General*/

* {
    color: #A6BCD0;
}

li {
    list-style: none;
    margin: 0.5rem;
}


/*color de fondo general, padding laterales*/

body {
    background-color: #404E5A;
    padding-right: 2rem;
    padding-left: 2rem;
}


/*fondo nav-bar*/

.bg-dark {
    background-color: #404E5A !important;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}


/*sombra para aplicar a contenedores*/

.shadow {
    box-shadow: 0 0.5rem 2rem 0.5rem #3b4853;
}


/*color verde para textos*/

.text-green {
    color: #7BED8D !important;
}


/*contenedor de login - */

.container-form {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 3rem;
    color: #A6BCD0;
    border-radius: 0.5rem;
}


/*campos de formulario*/

.form-control,
.form-select::after {
    background-color: #4E5D6A;
    border: none;
    color: #A6BCD0 !important;
}


/*para evitar se pasen a blanco cuando voy a escribir*/

input:not(:placeholder-shown) {
    background-color: #4E5D6A!important;
}

input:placeholder-shown {
    background-color: #4E5D6A!important;
}


/*boton submit*/

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    width: 100%;
    background-color: #7BED8D;
    border: none !important;
    border-radius: 3rem;
}


/**/

.minusBtn,
.plusBtn {
    width: auto;
    background-color: #7BED8D;
    border: none !important;
    border-radius: 3rem;
    color: #4E5D6A
}

.mainBtn {
    background-color: #4E5D6A;
    border: none;
    color: #A6BCD0 !important;
}

.text-a {
    text-decoration: none;
}


/*botones wow*/


/**/

.btn-wow-full {
    width: 100%;
    background: none;
    color: #A6BCD0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.05rem;
    border-radius: 50px;
    background: #404E5A;
    box-shadow: 0 0.5rem 2rem 0.5rem #3b4853;
    position: relative;
}

.btn-wow-full::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -2.5%;
    width: 105%;
    height: 120%;
    border-radius: 50px;
    z-index: -1;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    transform: scale(0.8);
    transition: transform .4s;
}

.btn-wow-full::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    z-index: -2;
    filter: blur(10px);
    transform: scale(0.5);
    transition: transform .4s;
}

.btn-wow-full:hover::before,
.btn-wow-full:hover::after {
    transform: scale(1);
}

.btn-wow-full:hover {
    color: #A6BCD0;
}


/*jesus*/


/* estilo boton de x de form producto*/

.bn {
    margin-top: 1rem;
    padding-left: 6rem;
    color: aliceblue;
}

.textito {
    padding-right: 8rem;
}


/* estilo boton de x de form producto*/


/**/


/**/


/**/


/**/