/* estas son las fuentes que provienen de los link y stylesheet que cree en el HEAD*/


/*font-family: 'Courgette', cursive;
font-family: 'Gluten', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Secular One', sans-serif;*/

h1 {
    font-family: 'Courgette', cursive;
    font-size: 800px;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
}

body {
    padding: 0 !important;
}

main {
    margin-top: 1rem;
    height: 50vh !important;
}

.scroll {
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.scroll::-webkit-scrollbar {
    width: 0.25rem;
}

.scroll::-webkit-scrollbar-track {
    background: none;
    border-radius: 25px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #64dd17;
    border-radius: 25px;
}

.b-example-divider {
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


/*button en forma de hoja*/

.btn-hoja {
    width: 15%;
    height: auto;
    padding: 1em;
    margin: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: all .4s;
    text-decoration: none;
    color: #64dd17;
}

.btn-hoja:hover {
    color: white;
}

.btn-hoja::before,
.btn-hoja::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: -1;
    border-radius: 5px;
    transition: all .4s;
}

.btn-hoja::after {
    background: #64dd17;
    transform-origin: right bottom;
    transform: translate(10%, 10%) scale(0.3);
    border-radius: 50px 0 50px 0;
    transition: all .4s;
}

.btn-hoja:hover::after {
    transform: translate(0) scale(1);
    border-radius: 0;
    border-radius: 0 50px 0 50px;
}

.btn-hoja:hover::before {
    transform-origin: right bottom;
    transform: translate(10%, 10%) scale(0.3);
    border-radius: 50px 0 50px 0;
    z-index: 1;
}

.rounded-3 {
    border-radius: 0.7rem!important;
    -webkit-box-shadow: 1px 2.5px 20px 0.5px #828282;
}


/*fin en forma de hoja*/


/*Carta de vendedor*/

.cart {
    padding: 2rem;
}

.formi {
    margin-bottom: 1rem;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 800px;
}

body {
    padding: 0 !important;
}

main {
    margin-top: 1rem;
    height: 50vh !important;
}

.scroll {
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.scroll::-webkit-scrollbar {
    width: 0.25rem;
}

.scroll::-webkit-scrollbar-track {
    background: none;
    border-radius: 25px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #64dd17;
    border-radius: 25px;
}

.b-example-divider {
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


/*button en forma de hoja*/

.btn-hoja {
    width: 15%;
    height: auto;
    padding: 1em;
    margin: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: all .4s;
    text-decoration: none;
    color: #64dd17;
}

.btn-hoja:hover {
    color: white;
}

.btn-hoja::before,
.btn-hoja::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: -1;
    border-radius: 5px;
    transition: all .4s;
}

.btn-hoja::after {
    background: #64dd17;
    transform-origin: right bottom;
    transform: translate(10%, 10%) scale(0.3);
    border-radius: 50px 0 50px 0;
    transition: all .4s;
}

.btn-hoja:hover::after {
    transform: translate(0) scale(1);
    border-radius: 0;
    border-radius: 0 50px 0 50px;
}

.btn-hoja:hover::before {
    transform-origin: right bottom;
    transform: translate(10%, 10%) scale(0.3);
    border-radius: 50px 0 50px 0;
    z-index: 1;
}

.rounded-3 {
    border-radius: 0.7rem!important;
    -webkit-box-shadow: 1px 2.5px 20px 0.5px #828282;
}


/*fin en forma de hoja*/


/*pre loader*/

.loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.loader-page>div {
    width: 1.5rem;
    height: 1.5rem;
    margin: 3rem .5rem;
    border-radius: 50%;
    background-color: #8fbc8f;
    animation: loaderr .6s infinite alternate;
}

@keyframes loaderr {
    to {
        opacity: .1;
        transform: translate3d(0, -1rem, 0);
    }
}

.loader-page>div:nth-child(2) {
    animation-delay: .2s;
}

.loader-page>div:nth-child(3) {
    animation-delay: .2s;
}


/*pre loader*/