!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"></head>

    <body>
       

        <div class="container">

            <div th:if="${error}" class="alert alert-danger alert-light fade show" role="alert">
                <span th:text="${error}"></span> 
                <button type="button" class="btn-close ml-5" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${success}" class="alert alert-succes alert-light fade show" role="alert">
                <span th:text="${success}"></span> 
                <button type="button" class="btn-close ml-5" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="card mt-5">
                <div class="card-header d-flex">
                    <h3>Lista de ciudades</h3>
                    <a class="btn btn-dark ms-auto" th:href="@{/ciudad/form}">Crear ciudad</a>
                </div>
                <div class="card-body">
                    <form class="row g-3"  th:action="@{/ciudad/list}" method="GET">
                        <div class="col">
                            <input type="text" style="width: 100%" name="q" placeholder="Buscar...">
                        </div>
                        <div class="col-2">
                            <a type="submit" class="btn btn-dark mb-3">Buscar</a>
                        </div>
                    </form>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr class="filas">
                                <th>N°</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c,iterator : ${ciudades}">
                                <td th:text="${iterator.index+1}"></td>
                                <td th:text="${c.nombre}"></td>
                                <td>
                                    <a class="btn btn-dark ms-auto" th:href="@{/ciudad/delete}+'?id='+${c.id}">Eliminar</a>
                                    <a class="btn btn-dark ms-auto" th:href="@{/ciudad/form}+'?id='+${c.id}">Editar</a>
                                </td>
                            </tr>
                        </tbody>
                        <p th:if="${ciudades.isEmpty}">No hay ciudades para mostrar</p>
                    </table>
                </div>
            </div>
        </div>


        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>-->
    </body>

</html> 
