<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!--css PROPIO-->
    <link rel="stylesheet" href="/static/css/estilo.css">
    



    <script src="js/script.js"></script>
    <title>Pruebas</title>
</head>

<body>
    <nav class="navbar-dark bg-dark shadow">
        <nav class="navbar-dark bg-dark shadow">
            <div class="container-fluid text-center">
                    <p class="display-6 text-green">Index de pruebas</p>
            </div>
        </nav>
    </nav>

    <!--buttons grupo Andres, Hernan, Fede-->
    <div class="row m-1 ">
        <div class="col-lg-6 ">
            <div class="d-flex justify-content-center">
                <p class="display-5">Logistica</p>
            </div>
            <div class="m-1">
                <a class="btn btn-outline-dark m-2 col-12" th:href="@{/categoria}">Categoria</a>
            </div>
        </div>

        <!--buttons grupo Lucas, Ivan, Alexis-->
        <div class="col-lg-6 ">
            <div class="d-flex justify-content-center">
                <p class="display-5">Logistica</p>
            </div>
            <div class="m-1">
                <a class="btn btn-outline-dark m-2 col-12" th:href="@{/}">index</a>
            </div>
        </div>
    </div>






    <!--Scripts-->
    <script src="../static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>