<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">

<body>
    <nav class="navbar-dark bg-dark shadow">
        <nav class="navbar-dark bg-dark shadow">
            <div class="container-fluid text-center">
                    <p class="display-6 text-green">Index de pruebas</p>
            </div>
        </nav>
    </nav>

    <!--buttons grupo Andres, Hernan, Fede-->
    <div class="row m-1 ">
        <div class="col-lg-6 ">
            <div class="d-flex justify-content-center">
                <p class="display-5"> Andres, Hernan, Fede</p>
            </div>
            <div class="m-1">
                <a class="btn btn-wow-full m-2 col-12" th:href="@{/categoria/list}">Categoria</a>
            </div>
            <div class="m-1">
                <a class="btn btn-outline-dark m-2 col-12" th:href="@{/cliente/list}">Cliente</a>
            </div>
             <div class="m-1">
                <a class="btn btn-outline-dark m-2 col-12" th:href="@{/ciudad/form}">Crear ciudad</a>
            </div>
        </div>

        <!--buttons grupo Lucas, Ivan, Alexis-->
        <div class="col-lg-6 ">
            <div class="d-flex justify-content-center">
                <p class="display-5">Lucas, Ivan, Alexis</p>
            </div>
            <div class="m-1">
                <a class="btn btn-wow-full m-2 col-12" th:href="@{/producto/list}">Listar producto</a>
            </div>
            <div class="m-1">
                <a class="btn btn-wow-full m-2 col-12" th:href="@{/producto/form}">Crear producto</a>
            </div>
            <div class="m-1">
                <a class="btn btn-wow-full m-2 col-12" th:href="@{/vendedor/form}">Crear vendedor</a>
            </div>
        </div>
    </div>
<!--buttons grupo: ---------------- -->


<!--Pruebas y estilos-->
<br>
<p>----------------------------------------------------
    ---------------------------------------------------
    ----------------------------------------------------
    ----------------------------------------------
</p>
<div class="container">
<div class="row d-flex">
    <div class="col-4">
<button class="btn-wow-full">Soy un boton</button>
</div>
</div>
</div>

    <!--Scripts-->
    <script src="../static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>