<!DOCTYPE html>
<html lang="en">
    <head th:replace="/fragments/head :: head">

    </head>
<body>
    <body>
        <nav class="navbar-dark bg-dark shadow">
            <div class="container-fluid text-center">
                    <p class="display-6 text-green">Panel de Control</p>
            </div>
        </nav>
        <br>

        <div class="row d-flex text-center p-1">
            <div class="col-lg-4 shadow">
                listado
                <ul>
                    <li>Lista 1</li>
                    <li>Lista 2</li>
                    <li>Lista 3</li>
                    <li>Lista 4</li>
                </ul>
            </div>
            <div class="col-lg-4 shadow">
                
            </div>
            <div class="col-lg-4 shadow">
                arbol por puntos
            </div>
        </div>
        
        
</body>
</html>