<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!--css PROPIO-->
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Panel de Control</title>
</head>
<body>
    <body>
        <nav class="navbar-dark bg-dark shadow">
            <div class="container-fluid text-center">
                    <p class="display-6 text-green">Panel de Control</p>
            </div>
        </nav>
        <br>

        <div class="row d-flex text-center p-1">
            <div class="col-lg-4 shadow">
                listado
                <ul>
                    <li>Lista 1</li>
                    <li>Lista 2</li>
                    <li>Lista 3</li>
                    <li>Lista 4</li>
                </ul>
            </div>
            <div class="col-lg-4 shadow">
                
            </div>
            <div class="col-lg-4 shadow">
                arbol por puntos
            </div>
        </div>
        
        
</body>
</html>