<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
</head>
<body>
    <header th:replace="/fragments/header :: header"></header>

    <h1 class="text-center">Administrador General</h1>

    <div class="container-fluid ">
        <div class="row justify-content-center">
            <a th:href="@{/producto}" class="btn-hoja">
                <p>Administrar productos</p>
            </a>
            <a href="" class="btn-hoja">
                <p>Administrar vendedores</p>
            </a>
            <a href="" class="btn-hoja">
                <p>Administrar clientes</p>
            </a>
            <a href="" class="btn-hoja">
                <p>OTROS</p>
            </a>
            <a th:href="@{/lista/list}" class="btn-hoja">
                <p>Prueba de listas</p>
            </a>
            
        </div>
    </div>






</body>

</html>