<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">
</head>

<body>
    <!--PreLoader-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <section>
        <div class="loader-page">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
    <!--PreLoader-->
    <nav class="navbar navbar-light" style="background-color: #20c997;">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="/src/main/resources/static/img/arbolsinfondo.png" alt="" height="60px" width="40px">
                </div>
                <div class="col-md-2">
                    <a th:href="@{/}" class="d-flex navbar-brand align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <h2>Saves Trees</h2>
                </div>
                </a>
            </div>
        </div>
    </nav>

    <div class="card container">
        <form th:action="@{/cliente/save}" method="POST" th:object="${cliente}" enctype="multipart/form-data" class="cart">
            <div th:object="${cliente}">
                <input type="hidden" th:value="*{documento}">
            </div>
            <br>
            <div>
                <input type="hidden" th:value="${action}" name="action">
            </div>
            <br>


            <!---------------------------------------------------------------------------------------------------------------------------->
            <div class="row">
                <div class="col-md-6">
                    <input type="text" th:field="*{nombres}" class="formi form-control" placeholder="Nombre/s">
                </div>
                <div class="col-md-6">
                    <input type="text" th:field="*{apellido}" class="formi form-control" placeholder="Apellido">
                </div>
            </div>
            <div class="col-md-12">
                <input type="number" th:field="*{documento}" class="formi form-control" placeholder="Documento">
            </div>
            <div class="col-md-12">
                <input type="email" th:field="*{contactoMail}" class="formi form-control" placeholder="Email">
            </div>

            <!----------------------------------------------------------------------------------------------------------------------------->
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="formi form-control" placeholder="Domicilio" aria-label="Domicilio">
                </div>
                <!-- Ciudad -->
                <div class="col-md-4">
                    <select class="form-select" th:field="${cliente.ciudad.id}" name="idCiudad">
                            <option th:each="c : ${ciudades}" th:text="${c.nombre}" th:value="${c.id}" th:selected="${cliente.ciudad != null && c.id == cliente.ciudad.id}"></option>
                        </select>
                </div>
                <!-- telefono -->
                <div class="col-md-2">
                    <input type="text" th:field="*{contactoCel}" class="form-control" placeholder="Telefono" aria-label="Teléfono">
                </div>
            </div>


            <!--nacimiento-->
            <div class="col-md-5">
                <input type="date" th:field="*{fechaNacimiento}" class="formi form-control">
            </div>
            <!--nacimiento-->


            <!--Foto-->
            <div class="formi col-md-6">
                <label class="form-label ">Agregar foto/imagen</label>
                <input type="file" name="archivo" class="form-control" placeholder="Foto de perfil">
            </div>
            <!--Foto-->

            <a href="">Leer términos y condiciones</a>
            <br>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                        Acepto los terminos y condiciones
                    </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center m-3">
                <div class="col d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-secondary">Siguiente</button>
                </div>
            </div>







        </form>
    </div>

























    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <!-- font-awesome para iconos en botones y otras cosas (y emn svg) -->
    <script defer src="/js/all.js"></script>
</body>

</html>