<!DOCTYPE html>
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body class="scroll">
    <header th:replace="/fragments/header :: header"></header>



    <!--
    <form th:if="${session.usuariosession.lista == null}" th:action="@{/lista/save}" method="POST" th:object="${lista}">
        <div class="d-flex justify-content-center m-3">
            <div>
                <label class="form-label">Ingrese nombre de la lista</label>
                <input type="text" th:field="*{nombreList}" class="form-control">
            </div>
        </div>
        <div class="d-flex justify-content-center m-3">
            <div class="col d-flex justify-content-center mt-5">
                <button type="submit" class="btn-primary">Crear lista</button>
            </div>
        </div>
    </form>
    <div th:if="${lista != null}" th:object="${lista}">
        <p th:text="*{nombreList}" class="display-3 m-5">Hola</p>
    </div>

<form th:action="@{/cliente/createList}" method="POST">
    <input type="hidden" name="documento" th:value="${documento}">
    <div class="label-form">
        <label for="">Nombre</label>
        <input type="text" name="nombre">
    </div>
    <button type="submit" th:href="@{/cliente/listado(documento=__${session.usuariosession.documento}__)}" class="btn btn-primary">Cambiar nombre</button>
</form>
-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 prueba  list-group">
                <h2>Mi lista</h2>
                <div class="scroll p-3">
                    <div th:each=" p : ${miLista}">
                        <div class="list-group-item list-group-item-action m-0 d-flex p-2">
                            <p th:text="${p.nombre}" class=" col d-flex align-middle" ></p>
                            <a type="button" class="btn-close text-end" aria-label="Close" th:href="@{/cliente/deleteProducto(documento=__${session.usuariosession.documento}__ , sku=${p.codigoBarra})}"></a>

                        </div>
                        
                    </div>
                    <p th:if="${miListaisEmpty}" class="display-3">No se encontraron resultados coincidentes</p>
                </div>
            </div>





            <div class="col-md-6  ">
                <h2>Productos</h2>
                <!-- <div class="input-group mb-3 p-2">
                    <input type="text" class="form-control" id="searchBox" placeholder="Buscar producto">
                </div>
                -->
                <form class="d-flex p-2" th:action="@{/cliente/listado}" method="GET">
                    <input hidden th:value="${session.usuariosession.documento}" name="documento">
                    <input  class="form-control me-2 " type="search" placeholder="Buscar" name="query"
                        aria-label="Search">
                        <button hidden type="submit"></button>
                </form>
                <div class="scroll">
                    <div th:each=" p : ${productos}" id="list">
                        <div class="card mb-3 m-1 shadow" th:if="${p.urlImg !='no'} " style="max-width: 49vw;">
                            <div class="row g-0">
                                <div class="col-md-4 p-2">
                                    <img th:if="${p.foto != null}" class="img-fluid"
                                        th:src="@{/foto/producto}+'?id='+${p.codigoBarra}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 th:text="${p.nombre}" id="nombre" class="card-title"></h5>
                                        <p class="card-text" th:text="'Origen: ' + ${p.origen}"></p>
                                        <p class="card-text" th:text="'Tipo: '+ ${p.tipo}"></p>
                                        <p class="card-text" th:text="'Categoria: '+ ${p.categoria.nombreCat}"></p>
                                        

                                            <div class="row">
                                                <div class="col">
                                                    <a type="button" class="btn btn-outline-success h-100"
                                                    th:href="@{/cliente/agregarProducto(documento=__${session.usuariosession.documento}__ , sku=${p.codigoBarra})}" >Agregar
                                                    a lista</a>
                                                </div>
                                                <div class="col">
                                                    <img src="/sprites/hojas.png" style="height: 1.5rem;" alt="sdfsdf" class="">
                                                <h6 th:text="${p.puntos}" class="d-flex"></h6>
                                                </div>
                                                <div class="col"></div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>






    <script>
        window.addEventListener("load", function () {
            let filter = document.getElementById("searchBox");
            filter.addEventListener("keyup", function () {
                var search = this.value.toLowerCase();
                var all = document.querySelectorAll("#list li") //ver

                for (let i of all) {
                    let item = i.innerHTML.toLowerCase();
                    if (item.indexOf(search) == -1) {
                        i.classList.add("hide");
                    }
                    else {
                        i.classList.remove("hide");
                    }
                }
            });
        });
    </script>
















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>

</body>

</html>