<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head">

    </head>

    <body>
        <nav th:replace="/fragments/nav-bar :: nav-bar">
        </nav>

        <main class="container">
            <!--<div th:replace="/fragments/admin-disclaimer :: admin-disclaimer"></div>-->
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <span th:text="${error}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${success}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <span th:text="${success}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row m-1">
                <div class="col">
                    <div class="display-1 text-center text-light">Lista de vendedores</div>
                </div>
                <div class="row m-5">
                    <div class="col d-flex justify-content-center">
                        <div class="card text-center bg-transparent">
                            <div class="card-body">
                                <form class="row g-3" th:action="@{/vendedor/list}" method="GET">
                                    <div class="col">
                                        <input type="text" class="mt-3" style="width: 100%;" name="q" placeholder="Buscar...">
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="button mb-3">Buscar</button>
                                    </div>
                                </form>
                                <table class="text-center text-light table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Cuil</th>
                                            <th>Nombre</th>
                                            <th>Domicilio</th>
                                            <th>Ciudad</th>
                                            <th>E-mail</th>
                                            <th>Celular</th>
                                            <th>Nivel</th>
                                            <th>Alta</th>
                                            <th>Baja</th>
                                            <!--<th>Foto</th>-->
                                            <th <!--sec:authorize="hasRole('ROLE_ADMIN')">--> Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each=" v,iterator : ${vendedores} ">
                                            <td th:text="${iterator.index+1}"></td>
                                            <td th:text="${v.nombre}"></td>
                                            <td th:text="${v.domicilio}"></td>
                                            <td th:text="${v.ciudad} == null ? 'no tiene' : ${v.ciudad.nombre}"></td>
                                            <td th:text="${v.contactoMail}"></td>
                                            <td th:text="${v.contactoCel}"></td>
                                            <td th:text="${v.nivel}"></td>
                                            <td th:text="${v.alta}"></td>
                                            <td th:text="${v.baja}"></td>
                                           <!-- <td th:text="${l.foto}"></td>-->
                                            <td <!--sec:authorize="hasRole('ROLE_ADMIN')"-->>
                                                <button class="button"><a th:href="@{/vendedor/delete}+'?id='+${v.cuit}">Eliminar</a></button>
                                                <button class="button"><a th:href="@{/vendedor/form}+'?id='+${v.cuit}+'&action=edit'">Editar</a></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <p th:if="${vendedores.isEmpty}">No hay vendedores para mostrar</p>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col d-flex justify-content-center">
                    <button class="button"><a th:href="@{/cliente/form}">Agregar cliente</a></button>
                </div>

                <div class="col d-flex justify-content-center">
                    <button class="button"><a th:href="@{/}">Pagina Principal</a></button>
                </div>

            </div>
        </main>





        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
                integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
                integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    </body>

</html>