<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!--fuente -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
<!--fuente -->
<link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="/static/css/modoNocturno.css">
    <link rel="stylesheet" href="/static/css/scrollVertical.css">
    <title>Prueba1</title>
</head>

<body data-theme="">
    <div class="darkMode">
        <input type="checkbox" name="" id="btn-mode">
        <div class="box">
            <i class="far fa-moon fa-2x"></i>
            <i class="far fa-sun fa-2x"></i>
        </div>
    </div>


    <div class="container shadow card">
        <!--contenedor de card-->
        <div class="row d-flex">
            <div class="col-3">
                <img class="img-card" src="../static/img/yerba.jpg"  alt="">
            </div>
            <div class="col-6">
                <p class="m-0">Nombre: Yerba</p>
                <p class="m-0">Origen: Corrientes</p>
                <p class="m-0">Tipo: Verde</p>
                <br>
                <p class="m-0">SKU:654654654654684768135</p>
            </div>
            <div class="col-3">
                <div class="row btn-row">
                    <button class="col agregar">Agregar</button>
                    <button class="col favorito">FAV</button>
                </div>
                <br>
                <div class="row">
                    <p class="col precio">$0.00</p>
                    <p class="col puntos">10000</p>
                </div>
            </div>
        </div>
    </div>
    










    <script src="../static/js/modoNocturno.js"></script>
</body>

</html>